body {
    background-color: beige;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.384) !important;
    font-size: 16px;
}

.navbar .navbar-brand {
    color: white ;
    font-size: 30px;
}

h1 {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Lora', serif;
    font-size: 14px;;
}


@media screen and (max-width: 630px) {
    body {
        background-color: gray;
    }
}



